<!-- FOOTER START -->
<footer class="section-footer blur-content">
	<div class="footer-content">
		<div class="footer-left wow fadeInUp" data-wow-delay="0.3s">
			<div class="corp"><span class="corp-name">EXISTBET</span> &copy; 2018 All rights reserved  </div>
			<div class="arrow"></div>
			<ul class="social">
				<li>
					<a href="#" target="_blank"><img src="assets/images/twitter.png" alt="Twitter"></a>
				</li>
			</ul>
		</div>
		<div class="footer-right wow fadeInUp" data-wow-delay="0.2s">
			<ul class="footer-menu">
				<li><a href="#">Provably Fair</a></li>
				<li><a href="#">Terms Of Service</a></li>
				<li><a href="#">Support</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- FOOTER END -->

<div style="display:none;">
	<div id="template_jackpot_betview">
		<div data-userid="" data-color="" class="participants-item color- wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
			<a href="javascript://" class="participants-avatar"><img src="" alt=""></a>
			<div class="participants-name">
				 deposited <span class="text-color-purple text-bold">$<span class="price_total">$VAR_4$</span></span> with chance <span class="text-color-purple text-bold"><span class="chance">---</span>%</span>
			</div>
			<div class="participants-dot"></div>
		</div>
	</div>
	<div id="template_jackpot_hash_block">
		<div class="alert alert-info" style="position:relative;min-height:64px;">
			<div style="position:absolute;left:12px;top:12px;font-size:48px;line-height:48px;"><span class="glyphicon glyphicon-play-circle"></span></div>
			<div style="padding-left:60px;"><b>FAIR GAME:</b><br/>Hash: </div>
		</div>
	</div>
	<div id="template_jackpot_winner_block">
		<div class="alert alert-success" style="position:relative;min-height:64px;">
			<div style="position:absolute;left:12px;top:12px;font-size:48px;line-height:48px;"><span class="glyphicon glyphicon-ok-circle"></span></div>
			<div style="padding-left:60px;"><b>WINNER IS:</b>  ($VAR_4$% CHANCE)<br/>ROUND NUMBER: </div>
		</div>
	</div>
	<div id="template_jackpot_last_winner">
		<div class="jackpot_last_heading">LAST WINNER</div>
		<div class="jackpot_last_avatar thumbnail" style="background-image:url('');"></div>
		<div class="jackpot_last_info"><div class="jackpot_last_username"></div>Won <b>$VAR_4$$</b> with $VAR_5$% chance!</div>
	</div>
	<div id="template_jackpot_carousel_user">
		<li data-chance="" data-avatar=""><img style="width:57px;height: 57px;" src="" alt=""></li>
	</div>
	<div id="template_info_block">
		<div class="alert alert-info"></div>
	</div>
	<div id="template_support_ticketview_message">
		<div data-userid="" class="suport-massage wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
			<div class="suport-massage-ava gradient-purple">
				<div><img src="" alt=""></div>
			</div>
			<div class="suport-massage-body">
				<div class="suport-massage-top">
					<a href="" class="suport-massage-name text-purple">$VAR_4$</a>
					<span class="suport-massage-date">$VAR_5$ <span class="text-color-white"></span></span>
				</div>
				<div class="suport-massage-text">
					<p></p>
				</div>
			</div>
		</div>
	</div>
	<div id="template_giveaway_user">
		<div class="panel panel-default giveaway_user">
			<div class="panel-body">
				<div class="giveaway_user_avatar" style="background-image:url('')"></div>
				<div class="giveaway_user_username"></div>
			</div>
		</div>
	</div>
	<div id="template_coinflip_game">
		<div class="coin-item wow fadeInUp" data-gameid="" data-price="$VAR_5$" data-joinable="1" data-wow-delay="0.0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp;">
			<div class="col-coin-player coin-item-col coin-item-col-players">
				<div class="coin-item-players-avatars empty">
					<div class="coin-item-players-ico"><img src="" alt=""></div>
					<a href="javascript://" class="coin-item-players-ava"><img src="" alt=""></a>
				</div>
				<div class="coin-item-players-items"></div>
			</div>
			<div class="col-coin-items coin-item-col coin-item-col-items">
				<div class="coin-price">
					<div class="coin-price-num text-purple">$$VAR_5$</div>
				</div>
			</div>
			<div class="col-coin-total coin-item-col coin-item-col-total">
				<div class="coin-percent">
					<div class="coin-percent-circle purple"><canvas width="42" height="42"></canvas></div>
					<div class="coin-percent-num text-purple">10</div>
				</div>
			</div>
			<div class="col-coin-end coin-item-col coin-item-col-end"></div>
		</div>
	</div>
	<div id="template_coinflip_game_full">
		<div class="coin-item wow fadeInUp" data-gameid="" data-price="$VAR_9$" data-joinable="0" data-wow-delay="0.0s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
			<div class="col-coin-player coin-item-col coin-item-col-players">
				<div class="coin-item-players-avatars coin-winner-avatars">
					<a href="javascript://" class="coin-item-players-ava purple"><img src="" alt=""></a>
					<div class="coin-item-players-vs">VS</div>
					<a href="javascript://" class="coin-item-players-ava"><img src="" alt=""></a>
				</div>
				<div class="coin-item-players-items"></div>
			</div>
			<div class="col-coin-items coin-item-col coin-item-col-items">
				<div class="coin-price">
					<div class="coin-price-num text-purple">$$VAR_9$</div>
				</div>
			</div>
			<div class="col-coin-total coin-item-col coin-item-col-total">
				<div class="coin-percent">
					<div class="coin-percent-circle green"><canvas width="42" height="42"></canvas></div>
					<div class="coin-percent-num text-green">10</div>
				</div>
			</div>
			<div class="col-coin-end coin-item-col col-coin-end-item">
				<div class="coin-winner-btns"></div>
				<div class="coin-winner">
					<div class="coin-winner-ico" style="display: none;"><img src="" alt=""></div>
					<div class="coin-winner-ava"><img src="assets/images/icons/ava.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
	<div id="template_jackpot_history">
		<div class="coin-item coin-item-history" data-gameid="">
			<div class="col-coin-player coin-item-col coin-item-col-players pix-win-coin-col-1 pix-win-coin-col-1-win">
				<div class="coin-winner-position">
					<img src="assets/images/trophy.png" class="ico-glow" alt="">
					<span style="display:none;" class="coin-winner-position-num"><span class="text-purple">#</span> 115</span>
				</div>
			</div>
			<div class="col-coin-items coin-item-col coin-item-col-items pix-win-coin-col-2 pix-win-coin-col-2-win"></div>
			<div class="col-coin-winner">
				<a href="javascript://" class="round-winner-avatar gradient-purple"><span><img src="" alt=""></span></a>
				<div class="round-user">
					<span class="round-user-name"></span>
					<span class="round-user-deposite">
						Chance <span class="text-color-purple text-bold">$VAR_5$%</span><br>Summary win  <span class="text-color-purple text-bold">$VAR_4$$</span>
					</span>
				</div>
			</div>
			<div class="col-coin-hash">
				<span class="coin-hash coin-hash-center">Hash: $VAR_8$ <a href="javascript://" class="round-via-hash-info pix-coin-hash-info"><img src="assets/images/info.png" alt=""></a> | Number: <span class="text-color-purple">$VAR_9$</span></span>
			</div>
		</div>
	</div>
	<div id="template_coinflip_history">
		<div class="coin-item coin-item-history">
			<div class="col-coin-player coin-item-col coin-item-col-players pix-win-coin-col-1">
				<div class="coin-item-players-avatars coin-item-players-avatars-full coin-winner-avatars">
					<a href="javascript://" class="coin-item-players-ava purple"><img src="" alt=""></a>
					<div class="coin-item-players-vs">VS</div>
					<a href="javascript://" class="coin-item-players-ava"><img src="" alt=""></a>
				</div>
			</div>
			<div class="col-coin-items coin-item-col coin-item-col-items pix-win-coin-col-2"></div>
			<div class="col-coin-total coin-item-col coin-item-col-total pix-win-coin-col-3">
				<div class="coin-price">
					<div class="coin-price-num text-purple">$VAR_5$$</div>
				</div>
			</div>
			<div class="col-coin-end coin-item-col col-coin-end-item pix-win-coin-col-4">
				<div class="coin-winner">
					<div class="coin-winner-ico"><img src="" alt=""></div>
					<a href="javascript://" class="coin-winner-ava"><img src="" alt=""></a>
				</div>
			</div>
			<div class="col-coin-hash">
				<span class="coin-hash">Hash: $VAR_8$ | Number: <span class="text-color-purple">$VAR_9$</span></span>
			</div>
		</div>
	</div>
	<div id="template_chatmessage">
		<div class="chat-list-item animated fadeInUp chat-list-item-admin-$VAR_5$" data-userid="" data-id="">
			<a href="javascript://" class="chat-list-ava"><img src="" alt=""></a>
			<div class="chat-list-body">
				<div class="chat-list-name"></div>
				<div class="chat-list-text"><p>$VAR_4$</p></div>
			</div>
			<div class="chat-list-control">
				<span class="chat-list-time"></span>
			</div>
		</div>
	</div>
	<div id="template_modal">
		<div class="blocker" id="$VAR_1$" style="display:none;">
			<div class="modal $VAR_4$" style="display: inline-block;">
				<div class="modal-header text-purple">$VAR_2$</div>
				<div class="modal-body">$VAR_3$</div>
				<a href="#close-modal" rel="modal:close" class="close-modal">Close</a>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> 
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="<%=basepath%>vendor/js/swiper.min.js"></script>
<script src="<%=basepath%>assets/js/init.js"></script>
<script src="<%=basepath%>assets/js/common.js"></script>
<script src="vendor/js/circle-progress.js"></script>
<script src="<%=basepath%>assets/js/chart.js"></script>

<script>
	const USER_ID = '0';
	const TOKEN = '455fde884699504988418ecb57664acc';
	const ROOM = 'jackpot';
</script>
<script type="text/javascript">
/*
function dd(){
alert("f");
}
//$("#doregistration").on("click", function (e) {
function doRegistration(){
   // e.preventDefault();
    registration();
}

function doLogin(){

	var username = $('#username').val();
	var password = $('#password').val();
	if(username != ''){
		$.ajax({
			url: "/checklogin",
			type: "POST",
			data: {
				username: username,
				password: password,
			},
			dataType: "JSON",
			success: function (jsonStr) {
			console.log(jsonStr);
				if(jsonStr.msg == 'Success'){
					window.location.href="/";
					//$('#errorspan').html('');
				}else{a
					$('#errorspan').html(jsonStr.msg);
				}
			}
		});
	}
}
*/
</script>
</body>
</html>
